

				    
/*#information {float:left;
              border:2px solid white;
              width:100%;
              background-color:#2E2E2E;
			
			  }
#information .left_information {float:left; 
                                color:white;  
                                font-size:16px; 
                                width: 310px; 
                                text-align:center;			  
			  
			   }


 #information  .middle_information  {float:left;
                     width:311px;
					 margin:0 0 0 5px;
					 max-height:500px;
					   
	                 
			       
					}
	
#right_information{float: left;
    width: 250px;
    margin: 0px 0 0 5px;
    max-height: 500px; 
			     
			  }
			  
			  
#right_information .top_input{width:205px;
                              height:39px;
							  margin:0 0 0 10px;
                                background-image:url('../Image/input_top.jpg');
							
									   
                                     }
		.top_m {float:left;
		        margin:10px 0 0 20px;
		        color:white;
				font-size:20px;
	
	  }							 
	.image {
	       float:left;
	        clear:both;
			width:206px;
			
			margin:0 0 0 12px;
		     background-image:url('../Image/line_back.JPG');
		
			 }
			 
	.image p{color:white;
	        margin:10px 0 0 10px;
			
	            }
  
  .image .s_height{width:100px;
                   float:right;
				   margin:-20px 10px 0px 0;
				   background-color:white;
				  
                   
                    }	

 .image img {margin:0 0 0 -1px;} */

